{
  "presets": [["@babel/env",
    {
      "loose": true,
      "modules": false,
      "targets": {
        "browsers": [
          "last 2 versions"
        ]
      }}],
    ["@babel/preset-react"]],
  "plugins": ["transform-object-assign", "react-hot-loader/babel"]
}
